*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header{
  position: relative;
  overflow: hidden;
  height: 400px;
}

.blur{
  position: absolute;
  width: 100%;
  height:100%;
  backdrop-filter: blur(2px);
}

.bookshelf-bg{
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.text-overlay{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-overlay h1{
  font-size: 4rem;
  color:white;
  font-weight: bold;
  margin-bottom: 1rem;
}

#filter{
  display: flex;
  gap: 0 1rem;
}

#search-book{
  border: none;
  border-radius: 5px;
  width: 31.25rem;
  padding: 1rem 0.5rem; 
}

#search-book::placeholder{
  color: gray;
}

#search-book:focus{
  outline: none;
}

#show-button{
  padding: 0.5rem 1.5rem;
  color:white;
  background-color: #15907C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
  padding: 1rem;
}

#form-book-submit{
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display:flex;
  flex-direction: row;
  gap: 0 1rem;  
}

#title,
#author,
#year{
  padding:0.5rem;
}

#add-book-btn{
  font-weight: bold;
  padding:0.75rem 0;
  cursor: pointer;
  background-color: 	rgb(187,153,102);
  color:white;
  border-radius: 5px;
  border: none;
}

.unfinished-read,
.finish-read{
  text-align: center;
  color:white;
  background-color: rgb(187,153,102);
  padding:1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:1rem 0;
}


.book-info-container{
  display: flex;
  flex-direction: column;
  gap:0.5rem 0;
  text-align: start;
  background-color: 	white;
  color: black;
  border: 5px;
  border-radius: 5px;
  padding:0.5rem;
}

.book-title{
  font-weight: bold;
}

.action{
  display: flex;
  gap: 0 0.5rem;
}

#edit-btn{
  background-color: #FF8F00;
  color:white;
  padding:0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}

#finish-btn,
#not-finish-btn{
  background-color: #15907C;
  color:white;
  padding:0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}

#delete-btn{
  background-color: red;
  color:white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.confirmation-popup,
.edit-popup{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.confirm-hidden {
  display: none;
}


.confirm-container{
  text-align: center;
  background-color: white;
  padding: 3.125rem;
  border-radius: 10px;
}

.confirm-container img{
  width: 12.5rem;
}

.confirm-container p{
  margin-bottom: 15px;
}

.confirm-container button:nth-child(odd){
  margin-right: 1rem;
}

#confirm-delete,
#cancel-delete{
  padding: 0.5rem 1rem;
  color:white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#confirm-delete{
  background-color: #15907C;
}

#cancel-delete{
  background-color: red;
}



.edit-hidden{
  display: none;
}

.edit-container{
  background-color: white;
  padding: 3.125rem;
}

.edit-container h3{
  margin-bottom: 1rem;
}

#form-edit-book{
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

#title-edit,
#author-edit,
#year-edit{
  padding: 0.5rem;
}

#update-edit,
#cancel-edit{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  color:white;
  cursor: pointer;
}

#update-edit{
  background-color: #FF8F00;
}

#cancel-edit{
  background-color: red;
}


@media screen and (max-width: 1200px){
  html{
    font-size: 14px;
  }

  #search-book{
    width: 80%;
  }

}

@media screen and (max-width: 768px){
  html{
    font-size: 12px;
  }

  #search-book{
    width: 60%;
  }

  main{
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 425px){
  html{
    font-size: 10px;
  }

  #search-book{
    width: 80%;
  }

  #filter{
    flex-direction: column;
    gap: 1rem 0;
    justify-content: center;
  }

  main{
    grid-template-columns: 1fr;
  }

}